@model Inmobiliaria_Benito.Models.Pago

@{
    ViewData["Title"] = "Editar Pago";
}

<h2>Editar Pago</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="PagoId" />

    <div class="form-group">
        <label asp-for="ContratoId" class="control-label">Contrato</label>
        <select asp-for="ContratoId" class="form-control" asp-items="ViewBag.ContratoId">
            <option value="">Seleccione un contrato</option>
        </select>
        <span asp-validation-for="ContratoId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaPago" class="control-label"></label>
        <input asp-for="FechaPago" class="form-control" type="date" />

        <span asp-validation-for="FechaPago" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Importe" class="control-label"></label>
        <input asp-for="Importe" class="form-control" />
        <span asp-validation-for="Importe" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
