@model Inmobiliaria_Benito.Models.Pago

<h1>Eliminar Pago</h1>

<div>
    <h4>¿Está seguro que desea eliminar este pago?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Contrato</dt>
        <dd class="col-sm-10">@Model.IdContratoNavigation?.ContratoId</dd>

        <dt class="col-sm-2">Número</dt>
        <dd class="col-sm-10">@Model.NumeroPago</dd>

        <dt class="col-sm-2">Fecha</dt>
        <dd class="col-sm-10">@Model.FechaPago</dd>

        <dt class="col-sm-2">Importe</dt>
        <dd class="col-sm-10">@Model.Importe</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="PagoId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
