@model Inmobiliaria_Benito.Models.InmuebleViewModel

@{
    ViewData["Title"] = "Crear Inmueble";
}

<h2>Crear Inmueble</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

  <div class="form-group">
    <label asp-for="Inmueble.Uso" class="control-label"></label>
    <select asp-for="Inmueble.Uso" class="form-control" asp-items="Model.Usos">
        <option value="">Seleccione un uso</option>
    </select>
    <span asp-validation-for="Inmueble.Uso" class="text-danger"></span>
</div>


    <div class="form-group">
        <label asp-for="Inmueble.Direccion" class="control-label"></label>
        <input asp-for="Inmueble.Direccion" class="form-control" />
        <span asp-validation-for="Inmueble.Direccion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Inmueble.Ambientes" class="control-label"></label>
        <input asp-for="Inmueble.Ambientes" class="form-control" />
        <span asp-validation-for="Inmueble.Ambientes" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Inmueble.Coordenadas" class="control-label"></label>
        <input asp-for="Inmueble.Coordenadas" class="form-control" />
        <span asp-validation-for="Inmueble.Coordenadas" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Inmueble.Precio" class="control-label"></label>
        <input asp-for="Inmueble.Precio" class="form-control" />
        <span asp-validation-for="Inmueble.Precio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="IdPropietario" class="control-label">Propietario</label>
       <select asp-for="Inmueble.IdPropietario" class="form-control" asp-items="Model.Propietarios">

            <option value="">Seleccione un propietario</option>
        </select>
        <span asp-validation-for="IdPropietario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="IdTipo" class="control-label">Tipo de Inmueble</label>
    <select asp-for="Inmueble.IdTipo" class="form-control" asp-items="Model.TiposInmueble">
            <option value="">Seleccione un tipo</option>
        </select>
        <span asp-validation-for="IdTipo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
