@model Inmobiliaria_Benito.Models.Inmueble

@{
    ViewData["Title"] = "Eliminar Inmueble";
}

<h2>Eliminar Inmueble</h2>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h4>¿Está seguro que desea eliminar este inmueble?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Dirección</dt>
    <dd class="col-sm-10">@Model.Direccion</dd>

    <dt class="col-sm-2">Uso</dt>
    <dd class="col-sm-10">@Model.Uso</dd>

    <dt class="col-sm-2">Estado</dt>
   
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="InmuebleId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
