@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Inmobiliaria Benito</h1>
    <p class="lead">Seleccioná una sección para comenzar</p>

    <div class="mt-4 d-flex justify-content-center gap-4">
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Inquilino")">Inquilinos</a>
        <a class="btn btn-success btn-lg" href="@Url.Action("Index", "Inmueble")">Inmuebles</a>
        <a class="btn btn-warning btn-lg" href="@Url.Action("Index", "Contrato")">Contratos</a>
    </div>
</div>
